<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Poiosm</title>

<script type="text/javascript" charset="utf-8" src="lib/phonegap.js"></script>

<link rel="stylesheet" href="lib/jquery.mobile-1.0.1.css" />
<link rel="stylesheet" href="lib/jquery.mobile.structure-1.0.1.css" />

<script src="lib/jquery-1.7.1.min.js"></script>
<script src="lib/jquery.mobile-1.0.1.js"></script>
<script src="lib/underscore.js"></script>
<script src="lib/jquery.timeago.js"></script>
<script src="lib/templates.js"></script>

<link rel="stylesheet" href="lib/leaflet/leaflet.css" />

<link rel="stylesheet" href="style.css" />
<script src="lib/leaflet/leaflet-src.js"></script>
<script src="js/poi.js"></script>
<script src="js/poimanager.js"></script>
<script src="js/curpos.js"></script>
<script src="js/changesets.js"></script>
<script src="js/main.js"></script>
<script type="text/html" id="node-template">
    <node <% if(typeof id !== "undefined") { %> id="<%= id %>" <% } %> changeset="<%= changesetId %>" <% if(typeof version !== "undefined") { %>version="<%= version %>" <% } %> lat="<%= location.lat %>" lon="<%= location.lng %>">
        <% _.each(tags, function(value, key) { %> 
            <tag k="<%= key %>" v="<%= value %>" />
        <% }); %>
    </node>
</script>
<script type="text/html" id="poi-template">
    <div>
        <div class="ui-grid-a">
            <small class="ui-block-a" style="width: 35%"><%= id %></small>
            <small class="ui-block-b" style="width: 65%; text-align: right">
                (<%= location.lat %>, <%= location.lng %>)
            </small>
        </div>
        <% if(name) { %>
        <div>
            <big><%= name %></big>
        </div>
        <% } %>
        <ul data-role="listview" data-inset="true" id="poi-tags-list">
        <% if(tags.length != 0) { %>
            <% _.each(tags, function(value, key) { %> 
                <li>
                    <%= key %>:
                    <%= value  %>
                </li>
            <% }); %>
        <%  } else { %>
            <li id="no-tags-item">No tags added</li>
        <%  } %>
        </ul>
        <div data-role="collapsible" id="new-tag-container" data-mini="true">
            <h3>Add new tag</h3>
            <form>
                <label for="new-tag-key">Key</label>
                <input type="text" name="new-tag-key" id="new-tag-key" />
                <label for="new-tag-value">Value</label>
                <input type="text" name="new-tag-value" id="new-tag-value" />
                <button id="new-tag-submit">Add Tag</button>
            </form>
        </div>
        <div>
            <small>
                Last updated 
                <strong><%= $.timeago(timestamp) %></strong> by 
                <strong><%= user.name %></strong>
            </small>
        </div>
    </div>
</script>

</head>
<body onLoad="onBodyLoad();">
    <div data-role="page" id="map-page">
        <div data-role="header" id="map-header" class="center-wrapper">
            <div class="text">POIOSM</div>
            <div class="img-btn ui-btn-up-a" id="login"><img src="img/preferences.png" /></div>
        </div>
        <div id="map-container" data-role="content">
            <div id="map">
            </div>
        </div>
        <div id="map-footer" data-role="footer">
                <div class="img-toggle ui-btn-up-a"> <img src="img/refresh.png" id="show-poi" /> </div>
                <div class="footer-text-container img-btn ui-btn-up-a" id="tap-bar">Tap here to create</div>
                <div class="img-btn ui-btn-up-a"><img  src="img/mylocation.png" id="current-location" /> </div>
        </div>
    </div>

    <div data-role="page" id="poi-page">
        <div data-role="header" id="poi-header">
            <div class="img-btn"><a href="#" data-rel="back"><img src="img/back.png" /></a></div>
            <div class="text" id="poi-name">POI Details</div>
        </div>
        <div data-role="content" id="poi-content">
        </div>
        <div data-role="footer" id="poi-footer">
        </div>
    </div>

    <div data-role="page" id="login-dialog">
        <div data-role="header" id="login-header">
            <div class="img-btn"><a href="#" data-rel="back"><img src="img/back.png" /></a></div>
            <div class="text" id="poi-name">OSM Login</div>
        </div>
        <div data-role="content" id="login-content">
            <form>
                <div data-role="fieldcontain">
                    <label for="login-user-id">Username</label>
                    <input type="text" name="login-user-id" id="login-user-id" />
                </div>

                <div data-role="fieldcontain">
                    <label for="login-user-password">Password</label>
                    <input type="password" name="login-user-password" id="login-password"  />
                </div>

                <div data-role="fieldcontain">
                    <button id="save-login">Login</button>
                </div>
            </form>
        </div>
        <div data-role="footer" id="login-footer">
        </div>
    </div>

</body>
</html>
