.large-button {
    padding: 5px;
}

.center-wrapper{
text-align: center;
}

.center-wrapper * {
margin: 0 auto;
}

.disabled {
    opacity: 0.2;
}

.hidden {
    display: none;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
.spinner {
      -webkit-animation-name: rotate;
      -webkit-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
}

.ui-footer, .ui-header {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 38px;
}

.ui-collapsible-heading {
    margin: 0px;
}

.text {
    -webkit-box-flex: 1;
}

#add-poi {
    font-weight: normal;
}

.footer-text-container {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 100%;
}

.right {
    float: right;
    clear: both;
}

#map-container {
    margin: 0px;
    padding: 0px;
}

#map {
    width: 100%;
    height: 300px;
    padding: 0px;
    margin: 0px;
}

.ui-page {
    -webkit-backface-visibility: hidden;
}

#poi-tags-list {
    margin-bottom: 0px;
}

#new-tag-container {
    margin-top: 0px;
}

.to-delete-tag {
    color: Red;
}
