/*body {*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
/*html, body {*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

/*#container {*/
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
    /*position: absolute;*/
    /*top:0px;*/
    /*bottom:0px;*/
    /*right:0px;*/
    /*left:0px;*/
/*}*/

/*#topbar {*/
    /*height: 54px;*/
    /*background-color: Black;*/
    /*display: -webkit-box;*/
    /*-webkit-box-orient: horizontal;*/
/*}*/

.center-wrapper{
text-align: center;
}

.center-wrapper * {
margin: 0 auto;
}

.hidden {
    display: none;
}

#map-container {
    margin: 0px;
    padding: 0px;
}

#map {
    width: 100%;
    height: 300px;
    padding: 0px;
    margin: 0px;
}

.ui-page {
    -webkit-backface-visibility: hidden;
}
